:root {
  --fontDarkGreen: #062226;
  --fontGreen: #05292e;
  --letter: #fbfbfb;
  --gray: #7e7e7e;
  --red: #b94343;
  --lightGreen: #4ab648;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.App {
  background: var(--fontGreen);
  margin: 0 auto;
  
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.details_location {
  color: var(--white);
  display: flex;
  background: var(--fontDarkGreen);

  width: 100%;
  justify-content: space-between;
  padding: 32px;
}
.details_location h2 {
  font-size: 20px;
  font-weight: 700;
}
.details_location p {
  font-size: 18px;
  font-weight: 700;
}
.search {
  display: flex;
  width: 100%;
  padding: 0 32px;
}
.search input {
  border: none;
  padding: 10px 32px;
  width: 100%;
}
.search button {
  width: 85px;
  border: 1px solid var(--white);
  background: var(--fontDarkGreen);
  border-radius: 0 20px 20px 0;
  color: var(--white);
  font-size: 16px;
}

.container_card {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
}

/* ------Resident Info ------- */

.resident {
  position: relative;
  width: 250px;
  border-radius: 10px;
  background: var(--fontDarkGreen);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
hr {
  width: 90%;
  height: 1px;
  background: var(--gray);
  border: none;
}
.resident img {
  width: 250px;
  border-radius: 10px 10px 0 0;
}
.resident h2 {
  padding: 12px 0;
  font-weight: 500;
  color: var(--letter);
  padding: 0 24px;
}
.container_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 24px;
}
.title {
  color: var(--gray);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}
.info {
  color: var(--letter);
  font-size: 16px;
}

.status {
  position: absolute;
  top: 20px;
  background: var(--fontDarkGreen);
  color: var(--white);
  display: flex;
  padding: 5px 10px;
  border-radius: 0 10px 10px 0;
  gap: 10px;
  left: 0;
}
.circle {
  width: 19px;
  height: 19px;
  border-radius: 50%;
}

@media screen and (min-width: 900px) {
  .App {
    padding: 50px 200px;
  }
}
